<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  
  <div  ng-repeat="item in user.user.data.cart" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding_o flex-box" style="margin-top:5px;" >
    
    <div style="margin:5px;padding:10px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-card flex-box">

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padding_o">
          <img ng-src="{{item.product.pictures[0]}}" class="img-responsive" style="height:130px;width:110px;">
        </div>
    
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
          
          <div class="name">
             <label class="control-label">{{item.product.name}}</label>
          </div>
          
          <div class="price">
            <label class="control-label">{{item.product.displayPrice}}</label>
          </div>
          
          <div class="quantity">
             <form class="form-inline">
                <div class="form-group">
                  <label for="Quantity">Quantity:</label>
                  <input type="number" class="form-control" ng-model="item.quantity" />
                </div>
            </form>
          </div>
        
        </div>

    </div>
    
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_o margin_bottom predefined-margin">
  <div class="btn btn-primary col-lg-2 padding_o" ng-click="updateCart()" style="margin:5px;">
    Update Cart
  </div>
 </div>


  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 padding_o margin_bottom">
  <div style="margin:5px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-card">
    <h1>
      <i class="fa fa-credit-card"></i>
      Payment
    </h1>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_o">
        <form class="form-inline">
          <div class="form-group">
            <label for="Credit Card Number:">Credit Card Number:</label>
            <input type="text" class="form-control" ng-model="stripeToken.number" />
          </div>
        </form>
    </div>

  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 padding_o">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_o">
      <div class="btn btn-primary col-lg-4 predefined-margin margin_bottom" ng-click="checkout()" style="margin-bottom:5px;">
        Check Out
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_o">
      <div ng-show="error" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        {{error}}
      </div>
      
      <div ng-show="checkedOut" style="margin-bottom:5px;">
        <label for="Checkout">Checked out successfully!</label>
      </div>

       <div ng-show="checkedOut" style="margin-bottom:5px;">
        <label for="Checkout">Your Transaction Id: {{id}}</label>
      </div>
    </div>
  </div>


  </div>
  </div>
</div>
